{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Купить бытовой фильтр для очистки воды — Свежая Вода</title>
  <meta charset="utf-8">
  <meta name="description" content="Бытовой фильтр обратного осмоса (мембранные фильтры для очистки воды) — Свежая Вода, еще один способ получить очищенную, чистую воду!">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="icon" href="static/img/favicon.png">
  <link type="text/css" rel="stylesheet" href="static/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="static/css/flat-ui.css">
  <link type="text/css" rel="stylesheet" href="static/css/Ecobud_CSS.css">
  <link type="text/css" rel="stylesheet" href="static/css/style.min.css">
</head>
<body class="LTR ENUS ContentBody">

  <div class="popup-video">
    <iframe id="pPlayer" src="#" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <div class="page-wrapper">

    <header class="header-26">
      <div class="container">
        <div class="row">
          <div class="navbar navbar-fixed-top" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle"></button>
              <a class="brand" href="/"><img src="static/img/logo.svg" width="250" height="150"></a>
            </div>
            <div class="collapse navbar-collapse pull-right">
              <ul class="nav pull-left">
                <li><a href="#70_water" data-scroll>Качество воды</a></li>
                <li><a href="#product1" data-scroll>Описание</a></li>
                <li><a href="#characteristics" data-scroll>Характеристики</a></li>
                <li class="hidden-md hidden-lg"><a href="#contact" data-scroll>Оформить предзаказ</a></li>
              </ul>
              <div id="oldform" class="pull-left hidden-sm hidden-xs">
                <a class="btn btn-primary btn-sm" href="#contact" data-scroll>Оформить предзаказ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>


    <section class="header-26-sub v-center bg-white">
      <div class="background">&nbsp;</div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 pull-right">
            <img id="p_lt_ctl00_pageplaceholder_p_lt_ctl00_EditableImageChangeyourwaterImage_ucEditableImage_imgImage" title="" class="hidden-xs col-xs-12" src="static/img/filtr.png" alt="" />
          </div>
          <div class="col-sm-6 title cd-intro">
            <h1 class="cd-headline slide">
              <span>Измени Свою</span>
              <br>
              <span class="cd-words-wrapper waiting"><b class="is-visible">ВОДУ</b> <b>ЖИЗНЬ</b> </span>
            </h1>
            <p class="hidden-xs">Позаботьтесь о своем здоровье и здоровье своих <br>близких, пейте очищенную, чистую воду.</p>
            <div class="btns">
              <a class="btn btn-primary btn-lg" href="#contact" data-scroll>
                <i class="fa fa-credit-card"></i>&nbsp;&nbsp;Заказать
              </a>
            </div>
          </div>
        </div>
      </div>
      <span class="scroll-btn">
        <a href="#70_water" data-scroll>
          <span class="mouse">
            <span></span>
          </span>
          ИСПОЛЬЗУЙТЕ ПРОКРУТКУ
        </a>
      </span>
    </section>



    

    <section class="content-46 product-color-blue" id="product1">     
      <div class="container">
        <h1>Особенные фильтры для вашего дома!</h1>
        <p class="lead">
          Система фильтрации "Свежая вода" представляет собой компактный блок для универсальной очистки и дополнительной минерализации питьевой воды.
        </p>
        <div class="row product-detail" id="product-description">
          <div class="col-md-6">
            <p>
              Фильтры "Свежая вода" превращают обычную водопроводную воду в продукт высокого качества! 
              Несколько степеней очистки делают ее кристально чистой, избавляя от:
              взвешенных частиц, примесей, бактерий и вирусов, тяжелых металов, хлора и его соединенийи даже постороннего привкуса и запахов.
              <br>
              <br>
              Вода с таким количеством минералов легкая в употреблении, очищает организм, предупреждает отложение солей, подходит для детского питания.
              <br>
              <br>
              Именно такая вода попадает в вашу посуду после фильтрации системой очистки "Свежая вода".
              <br>
              <br>
              Также, она не дает накипи при кипячении и даже избавляет от нее чайники и другие емкости.
            </p>
          </div>
          <div class="col-md-6">
            <p>
              Кроме того разветвленная система фильтрации позволяет сохранять полезные минералы в воде, а встроенная "умная" система контроля количества солей возвращает их после полной фильтрации в заданной пропорции (20 - 50 мг/л). 
              На выходе вы получаете воду соответствующую европейским стандартам воды для постоянного употребления.
              <br>
              <br>
              Сам блок не громоздкий, прост в установке. Имеет  картриджевую систему смены фильтов и приятный дизайн.
              Пользуясь блоком фильтрации "Свежая вода" вы гарантируете себе  получение воды близкой к высшей категории.
              Все составляющие систему компоненты изготовлены из высококачественных материалов.
            </p>
          </div>
        </div>
        <br>
        <br><br><br>
        <div class="row features">
          <div class="col-sm-4 col-sm-push-4 product-hero-img">
            <img alt="" class="product-color-blue" src="static/img/f1.png" />
          </div>
          <div class="col-sm-4 col-sm-pull-4 text-right">
            <div class="">
              <h5><i class="fa fa-ban"></i> Удаляет бактерии и вирусы</h5>
            </div>
            <div class="box-2"><h5><i class="fa fa-child"></i> Подходит для детского питания</h5></div>
            <div class="box-3"><h5><i class="fa fa-cogs"></i> Работает при низком давлении</h5></div>
            <div class="box-4"><h5><i class="fa fa-check-circle"></i> Простая установка</h5></div>
          </div>
          <div class="col-sm-4">
            <div class=""><h5><i class="fa fa-ban"></i> Удаляет тяжелые металлы</h5></div>
            <div class="box-6"><h5><i class="fa fa-tint"></i> Отсутствие контакта с резиной</h5></div>
            <div class="box-7"><h5><i class="fa fa-ban"></i> Удаляет хлор</h5></div>
            <div class="box-8"><h5><i class="fa fa-thumbs-up"></i> Низкая цена</h5></div>
          </div>
        </div>
      </div>

      <div class="buybar">
        <div class="btns" style="display:inline-block">
          <a href="#contact" data-scroll>
            <button class="btn btn-primary btn-lg btn-white-line" data-target="#modal-order-now" data-toggle="modal" type="button">ОФОРМИТЬ ПРЕДЗАКАЗ
            </button>
          </a>
        </div>
      </div>

      <div class="container" id="characteristics">
        <div class="filter">
          <h2 class="text-center">Технический характеристики и дополнительные возможности</h2>
          <p class="lead">Мембрана OC 400 GL / 3,5 месяца / 7 000 литров</p>
          <div class="row">
            <div class="col-md-2 col-md-offset-2 col-sm-3 text-center">
              <img id="p_lt_ctl00_pageplaceholder_p_lt_ctl05_WebPartZone7_WebPartZone7_zone_EditableImageLitlePengunImage_ucEditableImage_imgImage" src="static/img/f2.png" alt="" />
            </div>
            <div class="col-md-6  col-sm-9">
              <p>
                ● Система очистки - прямоточный обратный осмос
                <br>
                <br>
                ● Обладает высокой производительностью, избавляющей от необходимости оснащать систему накопительным резервуаром.
                <br>
                <br>
                ● Полностью защищена от гидроударов и перепадов давления воды.
                <br>
                <br>
                ● Оснащена датчиком определения загрязненности фильтров
                <br>
                <br>
                <br>
              </p>
            </div>
          </div>
        </div>
      </div>

    </section>





    <section class="content-23 v-center custom-bg charts" id="70_water">
      <div class="container">
        <h1>ВАШЕ ТЕЛО СОСТОИТ ИЗ<br>70% ВОДЫ</h1>
        <div class="row">
          <div class="col-md-12">
            <div class="beaker-wrapper hidden-xs hidden-sm">
              <div class="beaker-container" id="beaker1">
                <div id="beaker">
                  <div id="liquid">
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                  </div>
                </div>
              </div>
              <div class="beaker-container" id="beaker2">
                <div id="beaker">
                  <div id="liquid">
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                  </div>
                </div>
              </div>
              <div class="beaker-container" id="beaker3">
                <div id="beaker">
                  <div id="liquid">
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="chart-mobile hidden-md hidden-lg text-center">
              <img class="col-xs-12" src="static/img/vitalchart-mobile.png" alt="Calcium Magnesium and Potassium" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h5>ПОТРЕБЛЕНИЕ ВОДЫ</h5>
            <p>
              Установлено, что суточная потребность в воде взрослого человека равна 30-40 г на 1 кг веса тела.  
              <br>
              В среднем же принято считать, что в сутки человек потребляет суммарно 2.5 л воды и столько же выводится из организма.
            </p>
          </div>
        </div>
      </div>
    </section>

    
    <section class="content-23 v-center bg-belize-hole mobile-bg" id="drink_alkalise_water">
      <div id="bgVideo" class="background hidden-sm hidden-xs"></div>
      <div>
        <div class="container">
          <div class="hero-unit hero-unit-bordered">
            <h1>
              ВЫ ЗНАЕТЕ
              <br class="hidden-phone">
              ЧТО В ВАШЕЙ ВОДЕ?
            </h1>
            <p class="lead">
              Тяжело найти такое природное тело, которое бы не содержало в себе воды. 
              <br>
              Влагу содержат даже камни и огненная магма. Растительный мир состоит из воды на 70–95%. Без воды жизнь просто не существует.
            </p>
          </div>
        </div>
      </div>
    </section>



    <section class="content-47 bg-midnight-blue" id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <article data-readmore="" aria-expanded="false" id="rmjs-1" style="max-height: none; height: 105px;">
              <h3>ABOUT ecobud<sup>®</sup></h3>
              <p>Delivering great tasting Life Water and cleansing activated oxygen water, our filtration systems are geared towards enhancing life, not complicating. ecobud<sup>®</sup> is dedicated to making the world a cleaner and healthier place. Our way of achieving this goal is simple – water.</p>
              <p>By purifying life’s essential ingredient, we can improve the personal health of our customers and assist in saving the environment.</p>
              <p>Achieving our vision through water makes perfect sense. There is no more direct way to build a better world and improve the general health and wellbeing of others than by working with the purest foundation of life itself. With a reliable quality assurance guarantee on all products and no hidden fees or added extras, you can always trust ecobud<sup>®</sup>.</p>
              <p>We want to make it easier for our customers to live a more enjoyable life and contribute positively to the planet by aiding its purification.</p>
              <p>By removing all the harmful chemicals and contaminants from our water, we aim to improve the quality of life for all that use or consume our product. ecobud<sup>®</sup> – Simply Water.</p>
            </article><a href="#" data-readmore-toggle="" aria-controls="rmjs-1">Read More</a><article data-readmore="" aria-expanded="false" id="rmjs-2" style="max-height: none; height: 105px;">
              <h4>OUR BELIEFS</h4>
              <h5>Happiness</h5>
              <p>Nothing is more integral to a good life. You will find a million ways to attain this positive feeling, but our approach is simple – happiness through better health. We strive to achieve this by providing pure, clean Life Water for consumption, and cleansing activated oxygen water to remove harmful bacteria.</p>
              <h5>Unity</h5>
              <p>Our achievements as a company have always relied upon togetherness within. Each member of our team plays an important part in improving the lives of every ecobud user. It’s why we support a positive work environment that nurtures collective spirit, independence, responsibility, boldness, innovation and creativity.</p>
              <h5>Friendship</h5>
              <p>We don’t see people as customers or partners at ecobud – we see them as friends. We view our connections on a deeper and more personal level, and welcome others on our journey towards gaining a cleaner, healthier world.</p>
              <h5>Growth</h5>
              <p>At ecobud, growth goes hand-in-hand with innovation, and we are constantly looking for new and exciting ways to deliver clean water in a green manner. Our team is continually working hard to better our already high standards and further improve our award-winning filtration systems.</p>
            </article>
            <a href="#" data-readmore-toggle="" aria-controls="rmjs-2">Read More</a>
          </div>
          <div class="col-md-4 blog">
            <h3>FROM THE <a href="/water-purification-filters/blog">blog</a></h3>
            <div class="item">
              <a href="/water-purification-filters/blog" target="_blank" class="image-preview" style="background-image:url('/getattachment/f16d0a84-adaa-4f01-b107-b45e093982c7/A-Life-of-Plastic-is-Not-So-Fantastic.aspx')">
              </a>
              <a class="item-title" href="/water-purification-filters/blog-articles/a-life-of-plastic-is-not-so-fantastic" target="_blank">A Life of Plastic is Not So Fantastic</a>
              <small class="item-meta">
                <i class="fa fa-calendar-o"></i> 09 January 2017
              </small>
              <a class="more" href="/water-purification-filters/blog-articles/a-life-of-plastic-is-not-so-fantastic" target="_blank">View More</a>
            </div>
            <div class="item">
              <a href="/water-purification-filters/blog" target="_blank" class="image-preview" style="background-image:url('/getattachment/ee392bcc-d0cd-4fbc-bd72-b4c71c1c9d15/A-Life-of-Plastic-is-Not-So-Fantastic-1.aspx')">
              </a>
              <a class="item-title" href="/water-purification-filters/blog-articles/a-life-of-plastic-is-not-so-fantastic-1" target="_blank">A Life of Plastic is Not So Fantastic 1</a>
              <small class="item-meta">
                <i class="fa fa-calendar-o"></i> 09 January 2017
              </small>
              <a class="more" href="/water-purification-filters/blog-articles/a-life-of-plastic-is-not-so-fantastic-1" target="_blank">View More</a>
            </div>
          </div>
        </div>
      </div>
    </section>




    <section class="contact-7" id="contact">
      <div class="container">
        <div class="heading">
          <h1>Оформить предзаказ</h1>
        </div>
        <div class="text-center">
          <div id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz">
            <div id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_pM_pMP"></div>
            <div id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_pnlForm" class="FormPanel">
              <div class="col-md-6">
                <div class="form-group input-group-hg">
                  <div id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_ncpname" class="EditingFormControlNestedControl editing-form-control-nested-control">
                    <input name="p$lt$ctl00$pageplaceholder$p$lt$ctl12$On_lineForm$viewBiz$Name$txtText" type="text" maxlength="500" id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_Name_txtText" class="form-control name" placeholder="Ф И О" />
                    <input type="hidden" name="p$lt$ctl00$pageplaceholder$p$lt$ctl12$On_lineForm$viewBiz$Name$exWatermark_ClientState" id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_Name_exWatermark_ClientState" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group input-group-hg">
                  <div id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_ncpemail" class="EditingFormControlNestedControl editing-form-control-nested-control">
                    <input name="p$lt$ctl00$pageplaceholder$p$lt$ctl12$On_lineForm$viewBiz$Email$txtText" type="text" maxlength="500" id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_Email_txtText" class="form-control email" placeholder="E-mail" />
                    <input type="hidden" name="p$lt$ctl00$pageplaceholder$p$lt$ctl12$On_lineForm$viewBiz$Email$exWatermark_ClientState" id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_Email_exWatermark_ClientState" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group input-group-hg">
                  <div id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_ncpemail" class="EditingFormControlNestedControl editing-form-control-nested-control">
                    <input name="p$lt$ctl00$pageplaceholder$p$lt$ctl12$On_lineForm$viewBiz$Email$txtText" type="text" maxlength="500" id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_Email_txtText" class="form-control email" placeholder="Мобильный телефон" />
                    <input type="hidden" name="p$lt$ctl00$pageplaceholder$p$lt$ctl12$On_lineForm$viewBiz$Email$exWatermark_ClientState" id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_Email_exWatermark_ClientState" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group input-group-hg">
                  <div id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_ncpphone" class="EditingFormControlNestedControl editing-form-control-nested-control">
                    <input name="p$lt$ctl00$pageplaceholder$p$lt$ctl12$On_lineForm$viewBiz$Phone$txtText" type="text" maxlength="500" id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_Phone_txtText" class="form-control phone" placeholder="Адрес доставки" />
                    <input type="hidden" name="p$lt$ctl00$pageplaceholder$p$lt$ctl12$On_lineForm$viewBiz$Phone$exWatermark_ClientState" id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_Phone_exWatermark_ClientState" />
                  </div>
                </div>
              </div>
              <div>&nbsp;</div>
              <div class="form-group">
                <div id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_ncpmessage" class="EditingFormControlNestedControl editing-form-control-nested-control">
                  <textarea name="p$lt$ctl00$pageplaceholder$p$lt$ctl12$On_lineForm$viewBiz$Message$txtText" rows="8" cols="20" id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_Message_txtText" class="form-control message" placeholder="Комментарий"></textarea>
                  <input type="hidden" name="p$lt$ctl00$pageplaceholder$p$lt$ctl12$On_lineForm$viewBiz$Message$exWatermark_ClientState" id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_Message_exWatermark_ClientState" />
                </div>
              </div>
              <div style="display:none;">
                <div id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_ncpfor" class="EditingFormControlNestedControl editing-form-control-nested-control">
                  <select name="p$lt$ctl00$pageplaceholder$p$lt$ctl12$On_lineForm$viewBiz$For$dropDownList" id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_For_dropDownList" class="DropDownField form-control">
                    <option selected="selected" value="Product Purchase">Product Purchase</option>
                    <option value="Wholesale">Wholesale</option>
                    <option value="General Enquiry">General Enquiry</option>
                  </select>
                  <div id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_For_autoComplete" class="autocomplete">
                  </div>
                </div>
              </div>
              <input type="submit" name="p$lt$ctl00$pageplaceholder$p$lt$ctl12$On_lineForm$viewBiz$btnOK" value="ОФОРМИТЬ ПРЕДЗАКАЗ" id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_btnOK" class="FormButton btn btn-primary" />
            </div>
          </div>
        </div>
      </div>
    </section>




    <footer class="footer-17 bg-midnight-blue">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-3">
            <div class="brand">
              <img src="static/img/logo_white.svg" width="120" height="50" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <nav>
              <ul>
                <li>
                  <img src="static/img/cart.png" width="500" height="40">
                </li>
              </ul>
            </nav>
          </div>

          <div class="col-md-3">
            <nav>
              <ul>
                <li>
                  <a href="https://instagram.com/proektsv/" target="_blank">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </footer>

  </div>


<a href="static/index.html#0" class="cd-top">Top</a>

<script src="static/js/scripts.min.js" type="text/javascript"></script>
<script src="static/js/script.js" type="text/javascript"></script>
<script src="static/js/custom.js" type="text/javascript"></script>
<script type="text/javascript">
  //<![CDATA[
$(document).ready(function () {
 if  ($('article').length) 
  {
  $('article').readmore({
      moreLink: '<a href="static/index.html#">Прочитайте больше</a>',
      speed: 500,
      collapsedHeight: 105,
  });}
 if  ($('#product-description').length) 
 {
     $('#product-description').readmore({
         moreLink: '<a href="static/index.html#">Прочитайте больше</a>',
         speed: 500,
         collapsedHeight: 120,
     });
 }
 if ($('#product-description2').length>0) {
     $('#product-description2').readmore({
         moreLink: '<a href="static/index.html#">Прочитайте больше</a>',
         speed: 500,
         collapsedHeight: 120,
     });
 }
   });
//]]>
</script>
</form>
</body>
</html>