{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Купить бытовой фильтр для очистки воды — Свежая Вода</title>
  <meta charset="utf-8">
  <meta name="description" content="Бытовой фильтр обратного осмоса (мембранные фильтры для очистки воды) — Свежая Вода, еще один способ получить очищенную, чистую воду!">
  <meta http-equiv="Pragma" content="no-cache">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="google-site-verification" content="SXREfSYlYb9igq_dK0xnPMjVs-rx8hdLwWxL5hza3KQ" />
  <meta name="yandex-verification" content="ff9ad3f3895accb5" />
  <link rel="icon" href="static/img/favicon.png">
  <link type="text/css" rel="stylesheet" href="static/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="static/css/flat-ui.css">
  <link type="text/css" rel="stylesheet" href="static/css/Ecobud_CSS.css">
  <link type="text/css" rel="stylesheet" href="static/css/style.min.css">
</head>
<body class="LTR ENUS ContentBody">

  <div class="popup-video">
    <iframe id="pPlayer" src="#" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <div class="page-wrapper">

    <header class="header-26">
      <div class="container">
        <div class="row">
          <div class="navbar navbar-fixed-top" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle"></button>
              <a class="" href="/"><img src="static/img/logo.png" width="160" height="150" style="margin-top: 10px"></a>
            </div>
            <div class="collapse navbar-collapse pull-right">
              <ul class="nav pull-left">
                <li><a href="#characteristics" data-scroll>Преимущества</a></li>
                <li><a href="#product2" data-scroll>Описание</a></li>
                <li class="hidden-md hidden-lg"><a href="#contact" data-scroll>Оформить предзаказ</a></li>
              </ul>
              <div id="oldform" class="pull-left hidden-sm hidden-xs">
                <a class="btn btn-primary btn-sm" href="#contact" data-scroll>Оформить предзаказ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>




    <section class="header-26-sub v-center bg-white">
      <div class="background">&nbsp;</div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 pull-right">
            <img id="p_lt_ctl00_pageplaceholder_p_lt_ctl00_EditableImageChangeyourwaterImage_ucEditableImage_imgImage" title="" class="hidden-xs col-xs-12" src="static/img/fl.png" alt="" />
          </div>
          <div class="col-sm-6 title cd-intro">
            <h1 class="cd-headline slide">
              <span>Измени Свою</span>
              <br>
              <span class="cd-words-wrapper waiting"><b class="is-visible">ВОДУ</b> <b>ЖИЗНЬ</b> </span>
            </h1>
            <p class="hidden-xs">Позаботьтесь о своем здоровье и здоровье своих <br>близких, пейте очищенную, чистую воду.</p>
            <div class="btns">
              <a class="btn btn-primary btn-lg" href="#contact" data-scroll>
                <i class="fa fa-credit-card"></i>&nbsp;&nbsp;Заказать
              </a>
            </div>
          </div>
        </div>
      </div>
      <span class="scroll-btn">
        <a href="#contact" data-scroll>
          <span class="mouse">
            <span></span>
          </span>
          ИСПОЛЬЗУЙТЕ ПРОКРУТКУ
        </a>
      </span>
    </section>



    <section class="content-46 product-color-blue" id="characteristics">
      <h2 class="text-center">Вы в безопасности от:</h2>
      <br><br>
      <div class="container">
        <div class="row features">
          <div class="col-sm-4 col-sm-push-4 product-hero-img">
            <br><br>
            <img alt="" class="product-color-blue" src="static/img/filtr.png" />
          </div>
          <div class="col-sm-4 col-sm-pull-4 text-right">
            <div class="">
              <h5><i style="color: #ee8133; font-size: 30px" class="fa fa-ban"></i> Хлора</h5>
            </div>
            <div class="box-2"><h5><i class="fa fa-child" style="color: #ee8133; font-size: 30px"></i> Тяжелых металлов</h5></div>
            <div class="box-3"><h5><i  style="color: #ee8133; font-size: 30px" class="fa fa-cogs"></i> Механической примеси</h5></div>
            <div class="box-4"><h5><i  style="color: #ee8133; font-size: 30px" class="fa fa-check-circle"></i> Бактерии и вирусов</h5></div>
          </div>
          <div class="col-sm-4">
            <div class=""><h5><i  style="color: #ee8133; font-size: 30px" class="fa fa-ban"></i> Избытка солей и минералов</h5></div>
            <div class="box-6"><h5><i  style="color: #ee8133; font-size: 30px" class="fa fa-tint"></i> Ржавчины</h5></div>
            <div class="box-7"><h5><i  style="color: #ee8133; font-size: 30px" class="fa fa-ban"></i> Неприятных запахов и вкуса</h5></div>
            <div class="box-8"><h5><i  style="color: #ee8133; font-size: 30px" class="fa fa-thumbs-up"></i> Аллергенов</h5></div>
          </div>
        </div>
      </div>

      <br><br><br>

      <div class="buybar">
        <div class="btns" style="display:inline-block">
          <a href="#contact" data-scroll>
            <button class="btn btn-primary btn-lg btn-white-line" data-target="#modal-order-now" data-toggle="modal" type="button">Заказать Сейчас
            </button>
          </a>
        </div>
      </div>


      <div class="container">
        <div class="filter">
          <h2 class="text-center">Преимущества фильтра Свежая вода SV 4001</h2>
          <p class="lead">Компактный прямоточный фильтр обратного осмоса. <br>Получите безопасную, воду премиум класса прямо у вас на кухне</p>


            <div class="row hidden-xs" id="product-description2">
              <div class="col-md-4 col-sm-3 text-center">
                <img src="static/img/filtr.png"/>
              </div>
              <div class="col-md-6 col-sm-9">
                <p>
                  ● Побеждает накипь и улучшает вкус ваших любимых &nbsp;&nbsp;&nbsp;&nbsp;напитков и блюд
                  <br>
                  <br>
                  ● Скорость очистки воды  - в 10 раза выше по сравнению &nbsp;&nbsp;&nbsp;&nbsp;с системами обратного осмоса
                  <br>
                  <br>
                  ● Экономия на сервисном обслуживании до 10 000 &nbsp;&nbsp;&nbsp;&nbsp;рублей в год
                  <br>
                  <br>
                  ● Экономит до 30 тонн воды в год
                  <br>
                  <br>
                  ● Минимальный контакт с резиной. Всегда свежая вода
                  <br>
                  <br>
                  ● Сохраняет минералы
                  <br>
                  <br>
                  ● Удобный и компактный фильтр обратного осмоса
                  <br>
                  <br>
                  ● Экономит до 30 тонн воды в год
                  <br>
                  <br>
                  ● Защищает от отходов промышленных и сельскохозяйственных предприятий в воде: фенолов, нитратов, пестицидов
                  <br>
                  <br>
                  ● Обладает высокой производительностью, избавляющей от необходимости оснащать систему накопительным резервуаром
                  <br>
                  <br>
                  ● Фильтр очищает воду от всех бактерий, вирусов и паразитов, в том числе от цист (яйца лямблий)
                  <br>
                  <br>
                  ● Удаляет все возможные аллергены из воды: от хлора и пыльцы до антибиотиков
                  <br>
                  <br>
                  ● Вода безопасна для людей с чувствительным иммунитетом и пищеварением
                  <br>
                  <br>
                  ● Легкая замена картриджей за 10 минут
                  <br>
                  <br>
                  ● Минимальный контакт с резиной. Всегда свежая вода
                  <br>
                  <br>
                  ● Полностью защищена от гидроударов и перепадов давления воды
                  <br>
                  <br>
                  ● Нейтрализует опасность даже в случае технологических ЧП с выбросом высоких концентраций загрязнителей
                  <br>
                  <br>
                  ● В 2 раза компактнее по сравнению с классическими системами обратного осмоса, экономит место под мойкой
                  <br>
                  <br>
                  ● Отдельный кран для питьевой воды
                  <br>
                  <br>
                  ● Фильтр работает даже при низком давлении в водопроводе: от 2 атмосфер. Классические системы требуют не менее 3,5 атм. В которых используется водовоздушный бак
                  <br>
                  <br>
                  ● Замена модулей - раз в полгода (предочистка) и раз в 1,5-2 года (мембрана)
                  <br>
                  <br>
                  <br>
                </p>
              </div>
            </div>



          <div class="row hidden-sm hidden-md hidden-lg hidden-xl" id="product-description3">
            <div class="col-md-4 col-sm-3 text-center">
              <img src="static/img/filtr.png"/>
            </div>
            <div class="col-md-6 col-sm-9">
              <p>
                ● Побеждает накипь и улучшает вкус ваших любимых &nbsp;&nbsp;&nbsp;&nbsp;напитков и блюд
                <br>
                <br>
                ● Скорость очистки воды  - в 10 раза выше по сравнению &nbsp;&nbsp;&nbsp;&nbsp;с системами обратного осмоса
                <br>
                <br>
                ● Экономия на сервисном обслуживании до 10 000 &nbsp;&nbsp;&nbsp;&nbsp;рублей в год
                <br>
                <br>
                ● Экономит до 30 тонн воды в год
                <br>
                <br>
                ● Минимальный контакт с резиной. Всегда свежая вода
                <br>
                <br>
                ● Сохраняет минералы
                <br>
                <br>
                ● Удобный и компактный фильтр обратного осмоса
                <br>
                <br>
                ● Экономит до 30 тонн воды в год
                <br>
                <br>
                ● Защищает от отходов промышленных и сельскохозяйственных предприятий в воде: фенолов, нитратов, пестицидов
                <br>
                <br>
                ● Обладает высокой производительностью, избавляющей от необходимости оснащать систему накопительным резервуаром
                <br>
                <br>
                ● Фильтр очищает воду от всех бактерий, вирусов и паразитов, в том числе от цист (яйца лямблий)
                <br>
                <br>
                ● Удаляет все возможные аллергены из воды: от хлора и пыльцы до антибиотиков
                <br>
                <br>
                ● Вода безопасна для людей с чувствительным иммунитетом и пищеварением
                <br>
                <br>
                ● Легкая замена картриджей за 10 минут
                <br>
                <br>
                ● Минимальный контакт с резиной. Всегда свежая вода
                <br>
                <br>
                ● Полностью защищена от гидроударов и перепадов давления воды
                <br>
                <br>
                ● Нейтрализует опасность даже в случае технологических ЧП с выбросом высоких концентраций загрязнителей
                <br>
                <br>
                ● В 2 раза компактнее по сравнению с классическими системами обратного осмоса, экономит место под мойкой
                <br>
                <br>
                ● Отдельный кран для питьевой воды
                <br>
                <br>
                ● Фильтр работает даже при низком давлении в водопроводе: от 2 атмосфер. Классические системы требуют не менее 3,5 атм. В которых используется водовоздушный бак
                <br>
                <br>
                ● Замена модулей - раз в полгода (предочистка) и раз в 1,5-2 года (мембрана)
                <br>
                <br>
                <br>
              </p>
            </div>
          </div>


        </div>
      </div>

      <div class="buybar">
        <div class="btns" style="display:inline-block">
          <a href="#contact" data-scroll>
            <button class="btn btn-primary btn-lg btn-white-line" data-target="#modal-order-now" data-toggle="modal" type="button">Заказать Сейчас
            </button>
          </a>
        </div>
      </div>

   
      <div class="container">
        <div class="container" id="characteristics">
          <div class="filter">
            <h2 class="text-center">Технический характеристики и дополнительные возможности</h2>
            <p class="lead">Мембрана OC 400 GL / 3,5 месяца / 7 000 литров</p>
            <div class="row">
              <div class="col-md-2 col-md-offset-2 col-sm-3 text-center">
                <img src="static/img/f2.png" />
              </div>
              <div class="col-md-6  col-sm-9">
                <p>
                  ● Скорость фильтрации 1 л/мин
                  <br>
                  ● Количество ступеней — 6
                  <br>
                  ● Рабочее давление от 2,5 до 7 бар
                  <br>
                  ● Оснащена датчиком определения загрязненности &nbsp;&nbsp;&nbsp;&nbsp;фильтров
                  <br>
                  <br>
                  — Ресурс картриджей
                  <br>
                  1й ступени 10 000 литров  или 6 месяцев
                  <br>
                  2й и 3й ступени: 5000 литров или 6 месяцев
                  <br>
                  4й ступени: 5000 литров  или 6 месяцев
                  <br>
                  5й ступени: от 20 до 36 месяцев
                  <br> 
                  6й ступени: до 6000 литров
                  <br>
                  <br>
                  Размеры (см): 40х40х23
                  <br>
                  Температура: от 5 до 45 °C
                  <br>
                  Помпа: 24В, 3А, 2,8 л/мин
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>






    <section class="content-47 bg-midnight-blue" id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <article data-readmore="" aria-expanded="false" id="rmjs-1" style="max-height: none; height: 105px;">
              <h3>Фильтр по предзаказу</h3>
              <h5>Бета-версия</h5>
              <p>В течении 20 дней мы доставим вам фильтр, после получения от вас заявки по предзаказу.</p>
              <br>
            </article>
            <a href="static/оферта.pdf" target="_blank" data-readmore-toggle="" aria-controls="rmjs-1">Читать оферту</a>
          </div>
          <div class="col-md-4 blog">
            <h3>
              Цена: 14980₽
            </h3>
            <h5>1 ГОД ГАРАНТИИ</h5>
            <div class="item">
              <div class="btns">
                <a class="btn btn-primary btn-lg" href="#contact" data-scroll>
                  <i class="fa fa-credit-card"></i>&nbsp;&nbsp;Заказать
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


<!-- 
    
    <section class="content-23 v-center bg-belize-hole mobile-bg" id="drink_alkalise_water">
      <div id="bgVideo" class="background hidden-sm hidden-xs"></div>
      <div>
        <div class="container">
          <div class="hero-unit hero-unit-bordered">
            <h1>
              ВЫ ЗНАЕТЕ
              <br class="hidden-phone">
              ЧТО В ВАШЕЙ ВОДЕ?
            </h1>
            <p class="lead">
              Тяжело найти такое природное тело, которое бы не содержало в себе воды. 
              <br>
              Влагу содержат даже камни и огненная магма. Растительный мир состоит из воды на 70–95%. Без воды жизнь просто не существует.
            </p>
          </div>
        </div>
      </div>
    </section>
 -->


<!-- 


    <section class="content-23 v-center custom-bg charts" id="70_water">
      <div class="container">
        <h1>ВАШЕ ТЕЛО СОСТОИТ ИЗ<br>70% ВОДЫ</h1>
        <div class="row">
          <div class="col-md-12">
            <div class="beaker-wrapper hidden-xs hidden-sm">
              <div class="beaker-container" id="beaker1">
                <div id="beaker">
                  <div id="liquid">
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                  </div>
                </div>
              </div>
              <div class="beaker-container" id="beaker2">
                <div id="beaker">
                  <div id="liquid">
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                  </div>
                </div>
              </div>
              <div class="beaker-container" id="beaker3">
                <div id="beaker">
                  <div id="liquid">
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                    <div class="bubble">&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="chart-mobile hidden-md hidden-lg text-center">
              <img class="col-xs-12" src="static/img/vitalchart-mobile.png" alt="Calcium Magnesium and Potassium" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h5>ПОТРЕБЛЕНИЕ ВОДЫ</h5>
            <p>
              Установлено, что суточная потребность в воде взрослого человека равна 30-40 г на 1 кг веса тела.  
              <br>
              В среднем же принято считать, что в сутки человек потребляет суммарно 2.5 л воды и столько же выводится из организма.
            </p>
          </div>
        </div>
      </div>
    </section>


 -->
    


    <section class="content-46 product-color-blue" id="product2">     
      <div class="container">
        <h1>Особенные фильтры для вашего дома!</h1>
        <p class="lead">
          Система фильтрации "Свежая вода" представляет собой компактный блок для универсальной очистки и дополнительной минерализации питьевой воды.
        </p>
        <div class="row product-detail" id="product-description">
          <div class="col-md-6">
            <p>
              Фильтры "Свежая вода" превращают обычную водопроводную воду в продукт высокого качества! 
              Несколько степеней очистки делают ее кристально чистой, избавляя от:
              взвешенных частиц, примесей, бактерий и вирусов, тяжелых металов, хлора и его соединенийи даже постороннего привкуса и запахов.
              <br>
              <br>
              Вода с таким количеством минералов легкая в употреблении, очищает организм, предупреждает отложение солей, подходит для детского питания.
              <br>
              <br>
              Именно такая вода попадает в вашу посуду после фильтрации системой очистки "Свежая вода".
              <br>
              <br>
              Также, она не дает накипи при кипячении и даже избавляет от нее чайники и другие емкости.
            </p>
          </div>
          <div class="col-md-6">
            <p>
              Кроме того разветвленная система фильтрации позволяет сохранять полезные минералы в воде, а встроенная "умная" система контроля количества солей возвращает их после полной фильтрации в заданной пропорции (20 - 50 мг/л). 
              На выходе вы получаете воду соответствующую европейским стандартам воды для постоянного употребления.
              <br>
              <br>
              Сам блок не громоздкий, прост в установке. Имеет  картриджевую систему смены фильтов и приятный дизайн.
              Пользуясь блоком фильтрации "Свежая вода" вы гарантируете себе  получение воды близкой к высшей категории.
              Все составляющие систему компоненты изготовлены из высококачественных материалов.
            </p>
          </div>
        </div>
      </div>
    </section>






    <section class="contact-7" id="contact">
      <div class="container">
        <div class="heading">
          <h1>Оформить предзаказ</h1>
        </div>
        <form class="form" action="{% url 'shop:tele' %}" method="post">
          {% csrf_token %}
          <div class="text-center">
              <div class="col-md-6">
                <div class="form-group input-group-hg">
                  <div class="EditingFormControlNestedControl editing-form-control-nested-control">
                    <input type="text" maxlength="500" class="form-control name" placeholder="Ф И О" name="name" />
                  </div>
                </div>
              </div> 
              <div class="col-md-6">
                <div class="form-group input-group-hg">
                  <div id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_ncpemail" class="EditingFormControlNestedControl editing-form-control-nested-control">
                    <input type="text" maxlength="500" class="form-control email" placeholder="E-mail" name="mail" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group input-group-hg">
                  <div id="p_lt_ctl00_pageplaceholder_p_lt_ctl12_On_lineForm_viewBiz_ncpemail" class="EditingFormControlNestedControl editing-form-control-nested-control">
                    <input type="text" maxlength="500" class="form-control email" placeholder="Мобильный телефон" name="phone" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group input-group-hg">
                  <div class="EditingFormControlNestedControl editing-form-control-nested-control">
                    <input type="text" maxlength="500" class="form-control phone" placeholder="Адрес доставки" name="street" />
                  </div>
                </div>
              </div>
              <div>&nbsp;</div>
              <div class="form-group">
                <div class="EditingFormControlNestedControl editing-form-control-nested-control">
                  <textarea rows="8" cols="20" class="form-control message" placeholder="Комментарий" name="comm"></textarea>
                </div>
              </div>
              <input type="submit" value="ОФОРМИТЬ ПРЕДЗАКАЗ" class="FormButton btn btn-primary" />
            </div>
          </div>
        </form>
      </div>
    </section>




    <footer class="footer-17 bg-midnight-blue">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-3">
            <div class="brand">
              <img src="static/img/flogo.png" width="220" height="100" style="margin-top: -10px">
            </div>
          </div>
          <div class="col-md-6">
            <nav>
              <ul>
                <li>
                  <img src="static/img/cart.png" width="500" height="40">
                </li>
              </ul>
            </nav>
          </div>

          <div class="col-md-3">
            <nav>
              <ul>
                <li>
                  <a href="https://instagram.com/proektsv/" target="_blank">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </footer>

  </div>


<a href="static/index.html#0" class="cd-top">Top</a>

<script src="static/js/scripts.min.js" type="text/javascript"></script>
<script src="static/js/script.js" type="text/javascript"></script>
<script src="static/js/custom.js" type="text/javascript"></script>
<script type="text/javascript">
  //<![CDATA[
$(document).ready(function () {
 if  ($('article').length) 
  {
  $('article').readmore({
      moreLink: '<a href="static/index.html#">Прочитайте больше</a>',
      speed: 500,
      collapsedHeight: 110,
  });}
 if  ($('#product-description').length) 
 {
     $('#product-description').readmore({
         moreLink: '<a href="static/index.html#">Прочитайте больше</a>',
         speed: 500,
         collapsedHeight: 120,
     });
 }
 if ($('#product-description3').length>0) {
     $('#product-description3').readmore({
         moreLink: '<a href="static/index.html#">Больше преимуществ</a>',
         speed: 500,
         collapsedHeight: 620,
     });
 }
 if ($('#product-description2').length>0) {
     $('#product-description2').readmore({
         moreLink: '<a href="static/index.html#">Больше преимуществ</a>',
         speed: 500,
         collapsedHeight: 450,
     });
 }
   });
//]]>
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter49929607 = new Ya.Metrika2({
                    id:49929607,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/49929607" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>